body{
    background-image: url(https://res.cloudinary.com/dhg2lpfid/image/upload/v1570167265/Attachment-1_1_vgra0i.jpg);
    background-size: cover;
    /*font-family: 'Scheherazade', serif;*/
    font-size: 18px;
}

h1{
    text-align: center;

}

h2{
    text-align: center;
}

h3{
    text-align: left;
}

a{
    color: darkblue;
}

button{
    alignment: center;
}

.container{
    background-color: lightskyblue;
    width: max-content;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
}

.container-fluid{
    background-color: lightskyblue;
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
}

.jumbotron{
    background-color: lightskyblue;
    alignment: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.card{
    text-align: center;
    width: 55rem;
}

.table{
    background-color: lightskyblue;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

