<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car List</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="color: maroon"><b>Cars</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <table>
                    <tr>
                        <th>Year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Make&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Model&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Color&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Condition&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <th>Options&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                    <tr th:each="car : ${cars}">
                        <td th:text="${car.year}"></td>
                        <td th:text="${car.make}"></td>
                        <td th:text="${car.model}"></td>
                        <td th:text="${car.category.categoryName}"></td>
                        <td th:text="${car.color}"></td>
                        <td style="text-align: center" th:text="${car.used}"></td>
                        <td style="text-align: right" th:text="${car.priceString}"></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <a th:href="@{/update_car/{id}(id=${car.id})}">Update</a>
                            <span>&nbsp</span>
                            <a th:href="@{/detail_car/{id}(id=${car.id})}">Details</a>
                            <span>&nbsp</span>
                            <a th:href="@{/delete_car/{id}(id=${car.id})}">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
<!--            <div class="col-sm-3"></div>-->
        </div>
    </div>
</div>
<br>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>